@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: rgb(21, 35, 85);
  padding: 10px;
}

video {
  width: 100%;
}

.gamegearmicro {
  width: 0px;
  height: 0px;
}

.sonicfigura {
  width: 0px;
  height: 0px;
}

a {
  text-decoration: none;
}

@media (min-width: 375px) {
  header {
    background-color: rgb(2, 2, 40);
    width: 100%;
    height: 15rem;
  }
  header .logosegaseccionheader {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  header .logosegaseccionheader img {
    display: flex;
    justify-content: center;
    height: 5rem;
    width: 8rem;
  }
  header nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  header nav li {
    justify-content: center;
    display: flex;
    list-style-type: none;
    border: 1px solid black;
    background-color: whitesmoke;
    height: 1.8rem;
    align-items: center;
  }
  header nav a {
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
    background-color: whitesmoke;
    font-size: 1rem;
  }
  header a:hover {
    background-color: rgb(56, 74, 109);
    color: whitesmoke;
  }
}
@media (min-width: 1020px) {
  header {
    background-color: rgb(2, 2, 54);
    width: 100%;
    height: 7rem;
  }
  header .logosegaseccionheader {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  header .logosegaseccionheader img {
    display: flex;
    justify-content: center;
    height: 5rem;
    width: 8rem;
  }
  header nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    background-color: whitesmoke;
  }
  header nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  header nav li {
    justify-content: center;
    display: inline;
    list-style-type: none;
    border: 0px solid black;
    background-color: whitesmoke;
    height: 2rem;
    width: 100%;
  }
  header nav a {
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
    background-color: whitesmoke;
    font-size: 1.5rem;
  }
  header a:hover {
    background-color: rgb(56, 74, 109);
    color: whitesmoke;
  }
}
@media (min-width: 375px) {
  .titulonuestrasfranquicias {
    display: flex;
    color: whitesmoke;
    font-size: 0.7rem;
    margin-top: 20px;
  }
  .titulonuestrasfranquicias h1 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .seccion-logos-videojuegos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px;
    gap: 2rem;
  }
  .seccion-logos-videojuegos h2 {
    color: whitesmoke;
    font-size: 1rem;
    text-align: center;
  }
  .seccion-logos-videojuegos img {
    width: 100%;
    height: 15rem;
    border: solid whitesmoke 1px;
    border-radius: 0.3rem;
  }
  .ultimasnoticiastituloindex {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: whitesmoke;
  }
  .ultimasnoticiastituloindex h2 {
    font-size: 1.6rem;
  }
  .contenedorseccionultimasnoticias {
    display: flex;
    gap: 5px;
    padding: 5px;
  }
  .contenedorseccionultimasnoticias .articulo-ultimas-noticias {
    width: 100%;
    border: solid whitesmoke 1px;
    background-color: rgba(0, 0, 0, 0.49);
  }
  .contenedorseccionultimasnoticias .articulo-ultimas-noticias img {
    width: 100%;
    height: 10rem;
    border: solid whitesmoke 1px;
  }
  .contenedorseccionultimasnoticias .articulo-ultimas-noticias h3 {
    color: white;
    font-size: 1rem;
    text-align: center;
  }
  .contenedorseccionultimasnoticias .articulo-ultimas-noticias p {
    text-align: start;
    color: whitesmoke;
  }
  .titulo-ultimos-lanzamientos {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-size: 1.6rem;
    color: whitesmoke;
  }
  .logo-sonic-frontiers {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .logo-sonic-frontiers img {
    height: 10rem;
    width: 20rem;
    margin-top: 1rem;
  }
  .seccion-link-compra {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .seccion-link-compra .compraya-sonicfrontiers {
    display: flex;
    justify-content: center;
    width: 6rem;
    height: 4rem;
    border: solid white 3px;
    margin-bottom: 2rem;
  }
  .bannersonicfrontiers {
    margin-bottom: 2rem;
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
  }
  .seccion-ulitmos-lanzamientos {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .seccion-ulitmos-lanzamientos h2 {
    font-size: 2rem;
    color: aquamarine;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .seccion-ulitmos-lanzamientos p {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 2rem;
    color: whitesmoke;
  }
  .seccion-ulitmos-lanzamientos .articulo-ultimoslanzamientos {
    border: solid whitesmoke 2px;
    background-color: rgb(4, 2, 28);
  }
  video {
    border-bottom: solid whitesmoke 2px;
  }
  .segainsidertitulo {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .segainsidertitulo h2 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 100%;
    width: 100%;
    color: whitesmoke;
    padding: 5px;
  }
  .Footerseccionindex {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 45rem;
    width: 100%;
  }
  .Footerseccionindex img {
    width: 100%;
    height: 20rem;
  }
  .Footerseccionindex p {
    color: black;
    font-size: 1.1rem;
  }
  .Footerseccionindex .footerlink {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .Footerseccionindex .footerlink ul li {
    display: inline;
  }
  .Footerseccionindex .footerlink img {
    display: inline;
    height: 2.5rem;
    width: 2.5rem;
    margin: 10px;
  }
  .Footerseccionindex .banner60añosfooterindex img {
    width: 100%;
    height: 26rem;
  }
  .Footerseccionindex .segalogofooterindex {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .Footerseccionindex .segalogofooterindex img {
    height: 5rem;
    width: 8rem;
  }
}
@media (min-width: 768px) {
  .seccion-logos-videojuegos {
    display: flex;
    width: 100%;
  }
  .seccion-logos-videojuegos img {
    height: 15rem;
    margin-top: 2rem;
  }
  .seccion-logos-videojuegos h2 {
    font-size: 0.7rem;
  }
  .logo-sonic-frontiers {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .logo-sonic-frontiers img {
    display: flex;
    width: 20rem;
  }
  .banner60añosfooterindex img {
    height: 25rem;
  }
  .segalogofooterindex {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .segalogofooterindex img {
    height: 10rem;
    width: 20rem;
  }
}
@media (min-width: 1200px) {
  .sega2022banner {
    width: 100%;
    height: 55rem;
  }
  .articuloseccionultimoslanzamientos {
    width: 100%;
  }
  .seccion-logos-videojuegos img {
    width: 100%;
    height: 37.4rem;
  }
  .contenedorseccionultimasnoticias {
    height: 60rem;
    width: 100%;
  }
  .contenedorseccionultimasnoticias .articulo-ultimas-noticias {
    height: 40rem;
    width: 100%;
  }
  .contenedorseccionultimasnoticias .articulo-ultimas-noticias .imagen-ultimas-noticias {
    width: 100%;
    height: 25rem;
  }
  .contenedorseccionultimasnoticias .articulo-ultimas-noticias h3 {
    font-size: 1.7rem;
    color: bisque;
    width: 100%;
    height: 100%;
  }
  .contenedorseccionultimasnoticias .articulo-ultimas-noticias p {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .Footerseccionindex {
    display: grid;
    width: 100%;
    height: 60rem;
    grid-template-columns: 300px 300px 300px 300px 300px;
    grid-template-rows: 200px 200px 200px 200px;
  }
  .Footerseccionindex .footerlink {
    grid-row: 2;
    width: 100vw;
  }
  .Footerseccionindex .footerlink a img {
    height: 3rem;
    width: 4rem;
    margin: 4rem;
  }
  .derechosreservadosfooter {
    grid-column: 1/span 4;
    grid-row: 3;
    width: 100vw;
  }
  .derechosreservadosfooter p {
    width: 100vw;
    font-size: 2rem;
  }
  .banner60añosfooterindex {
    width: 100vw;
    grid-column: 1/span 4;
    grid-row: 5;
  }
  .banner60añosfooterindex img {
    height: 100%;
  }
  .segalogofooterindex {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .segalogofooterindex img {
    height: 20rem;
    width: 30rem;
  }
}
@media (min-width: 375px) {
  .seccion-banner {
    background-image: url(../imagenes/sonicsuperstars.jpg.webp);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1rem;
    border: 3px solid whitesmoke;
    border-radius: 0.5rem;
  }
  .seccion-banner .contenedor-logo {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .seccion-banner .logo-sonic-banner {
    width: 15rem;
    height: 10rem;
  }
  .titulo-videojuego {
    background-color: transparent;
    justify-content: center;
    color: aquamarine;
    display: flex;
  }
  .titulo-videojuego h2 {
    height: 50px;
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 1rem;
  }
  .contenedor-seccion-juegos {
    display: grid;
    background-color: transparent;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    padding: 0.5rem;
    gap: 0.5rem;
  }
  .contenedor-seccion-juegos .juegossonic {
    height: 80%;
    width: 100%;
    border: 2px solid whitesmoke;
    border-radius: 2px;
  }
  .contenedor-seccion-juegos h2 {
    font-size: 15px;
    text-align: center;
    color: whitesmoke;
  }
  .bannersuelto {
    width: 100%;
    margin-bottom: 10rem;
  }
  .titulo-juegos-disponibles {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .titulo-juegos-disponibles h2 {
    width: 100%;
    font-size: 3rem;
    color: aquamarine;
    margin-bottom: rem;
    text-align: center;
  }
  .seccion-sonic-frontiers .bannerseccionfrontiers {
    width: 100%;
  }
  .seccion-sonic-frontiers .logo-seccion-sonicfrontiers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
  }
  .seccion-sonic-frontiers .logo-seccion-sonicfrontiers img {
    height: 100%;
    width: 20rem;
    background-color: transparent;
    margin-top: 50px;
    border-top: solid whitesmoke 1px;
  }
  .seccion-sonic-frontiers .logo-seccion-sonicfrontiers a {
    display: flex;
    justify-content: center;
    color: black;
    background-color: white;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 20px;
  }
  .seccion-sonic-frontiers .compraahorasonicfrontiers {
    border: solid aquamarine 1px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    height: 30px;
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  .seccion-sonic-frontiers .titulosonicnoticiasrecientes {
    margin-top: 50px;
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
  }
  .seccion-sonic-frontiers .Sonicseccionultimasnoticias {
    display: flex;
    height: 400px;
    background-color: rgb(10, 10, 50);
  }
  .seccion-sonic-frontiers .Sonicseccionultimasnoticias .articulo-sonic-noticas {
    display: grid;
    background-color: rgba(0, 0, 0, 0.467);
    width: 500px;
    height: 100%;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    border: solid aquamarine 1px;
  }
  .seccion-sonic-frontiers .Sonicseccionultimasnoticias img {
    width: 100%;
    height: 100%;
    display: grid;
    border-bottom: solid aquamarine 1px;
  }
  .seccion-sonic-frontiers .Sonicseccionultimasnoticias h3,
  .seccion-sonic-frontiers .Sonicseccionultimasnoticias h4,
  .seccion-sonic-frontiers .Sonicseccionultimasnoticias p {
    font-size: 15px;
    align-items: center;
    display: grid;
    color: whitesmoke;
    text-align: center;
  }
  .seccion-sonic-frontiers .introduccioninformacionsonicfrontiers {
    width: 100%;
  }
  .seccion-sonic-frontiers .introduccioninformacionsonicfrontiers h2 {
    font-size: 50px;
    margin-top: 50px;
    color: aquamarine;
    text-align: center;
    width: 100%;
  }
  .seccion-sonic-frontiers .introduccioninformacionsonicfrontiers h3 {
    font-size: 1.1rem;
    text-align: center;
    color: whitesmoke;
    margin-top: 10px;
    padding: 1rem;
  }
  .seccion-sonic-frontiers .contenedorvideossonicfrontiers {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.467);
  }
  .seccion-sonic-frontiers .contenedorvideossonicfrontiers video {
    width: 100%;
    margin-top: 10px;
    height: 100%;
    border: solid aquamarine 1px;
  }
  .seccion-sonic-frontiers .contenedorvideossonicfrontiers h3 {
    font-size: 1.5rem;
    color: aquamarine;
    text-align: center;
    margin-bottom: 20px;
  }
  .seccion-sonic-frontiers .contenedorvideossonicfrontiers p {
    font-size: 1.1rem;
    text-align: center;
    padding: 1px;
    color: whitesmoke;
  }
  .seccion-sonic-frontiers .bannerseccionfrontiers {
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid aquamarine 1px;
  }
  .seccion-sonic-frontiers .comprasonicfrontiers h2 {
    font-size: 2.5rem;
    text-align: center;
    color: aquamarine;
    margin-top: 50px;
  }
  .seccion-sonic-frontiers .seleccionarplataforma h4 {
    color: whitesmoke;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: center;
  }
  .seccion-sonic-frontiers .contenedorseleccionplataforma {
    display: grid;
    width: 100%;
    justify-content: center;
  }
  .seccion-sonic-frontiers .contenedorseleccionplataforma .plataformaseleccionada {
    display: grid;
    margin: 10px;
    border: solid goldenrod 5px;
    justify-content: center;
    background-color: whitesmoke;
    width: 150px;
    height: 30px;
    align-items: center;
  }
  .edicionessonicfronitiers {
    width: 100%;
    height: 20rem;
    border: 3px solid aquamarine;
  }
  .edicionessonicfronitiers img {
    width: 100%;
    height: 100%;
    padding: 5px;
  }
  .sonicfrontiersedicion {
    display: flex;
    color: whitesmoke;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    padding: 25px;
    font-size: 1.2rem;
    border: solid aquamarine 1px;
    margin-top: 10px;
    background-color: black;
    width: 100%;
  }
  .sonicfrontiersedicion h3 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 20px;
  }
  .sonicteambanner {
    width: 100%;
    height: 70px;
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .imagendefondosonic {
    display: flex;
    background-image: url(../imagenes/sonicsuperstars.jpg.webp);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
  }
  .titulovideojuegos h2 {
    font-size: 30px;
  }
  .seccionjuegosdesonic {
    display: flex;
    flex-wrap: wrap;
  }
  .juegossonic {
    width: 190px;
    height: 250px;
  }
  .logo-seccion-sonicfrontiers img {
    width: 100%;
    height: 150px;
    background-color: transparent;
    justify-content: center;
  }
  .logo-seccion-sonicfrontiers {
    display: grid;
    justify-content: center;
    height: 12rem;
  }
  .seccionvideosonicfrontiers p {
    width: 100%;
  }
  .sonicfrontiersedicion {
    width: 100%;
  }
  .edicionessonicfronitiers img {
    width: 100%;
  }
  .contenedorseleccionplataforma {
    background-image: url(../imagenes/sonicrender.jpg.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 100% 100%;
    height: 400px;
  }
  .bannerseccionfrontiers {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .imagendefondosonic {
    width: 100%;
  }
  .titulovideojuegos {
    width: 100%;
  }
  .seccionjuegossonic {
    width: 100%;
  }
  .juegossonic {
    display: flex;
    justify-content: center;
    height: 300px;
  }
  .bannerseccionfrontiers {
    width: 100%;
    height: 15rem;
  }
  .logo-seccion-sonicfrontiers {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 800px;
    background-image: url(../imagenes/FWZfZ7aXwAEhB77.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
  }
  .logo-seccion-sonicfrontiers img {
    display: flex;
    width: 40rem;
    height: 20rem;
  }
  .compraahorasonicfrontiers {
    width: 100%;
    display: flex;
    font-size: 2.5rem;
    background-color: whitesmoke;
  }
  .titulosonicnoticiasrecientes {
    width: 100%;
  }
  .Sonicseccionultimasnoticias {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
  }
  .introduccioninformacionsonicfrontiers {
    width: 100%;
  }
  .introduccioninformacionsonicfrontiers h2 {
    font-size: 90px;
    width: 100%;
  }
  .introduccioninformacionsonicfrontiers h3 {
    font-size: 30px;
    width: 100%;
  }
  .seccionvideosonicfrontiers {
    width: 100%;
    display: grid;
  }
  .seccionvideosonicfrontiers video {
    height: 100%;
    width: 100%;
    border: none;
    margin-right: 200px;
  }
  .seccionvideosonicfrontiers h3 {
    font-size: 50px;
    width: 100%;
  }
  .seccionvideosonicfrontiers p {
    font-size: 30px;
    text-align: center;
    width: 100%;
  }
  .contenedorseleccionplataforma {
    background-image: none;
    width: 100%;
  }
  .plataformaseleccionada {
    width: 100%;
  }
  .edicionessonicfronitiers {
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: center;
  }
  .edicionessonicfronitiers img {
    width: 100%;
    height: auto;
  }
  .seccionedicionesdesonicfrontiers {
    display: grid;
    justify-content: center;
    width: 100%;
  }
  .sonicfrontiersedicion {
    display: flex;
    width: 100%;
    height: 500px;
  }
  .sonicfrontiersedicion h3 {
    font-size: 3rem;
    color: aquamarine;
  }
  .sonicfrontiersedicion ul li {
    display: flex;
  }
  .sonicteambanner {
    width: 100%;
    height: 150px;
  }
}
@media (min-width: 375px) {
  .segalogoheader {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .segalogoheader img {
    width: 6rem;
  }
  .header-pagina-noticias {
    background-color: whitesmoke;
    width: 100%;
  }
  .navbar {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    width: 100%;
  }
  .container-fluid .navbar-toggler {
    width: 3rem;
    height: 3rem;
    border: solid 1.5px black;
  }
  .container-fluid .navbar-toggler-icon {
    width: 100%;
    height: 100%;
  }
  .container-fluid .nav-item {
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }
  .video-noticias {
    width: 0%;
    height: 0%;
  }
  .titulo-seccionoticas {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  .titulo-seccionoticas h1 {
    color: whitesmoke;
  }
  .seccion-noticas-contenedorpadre {
    display: flex;
    flex-direction: column;
  }
  .seccion-noticas-contenedorpadre .contenedorimagenesnoticias {
    border: solid 2px whitesmoke;
    margin-top: 1rem;
  }
  .seccion-noticas-contenedorpadre .contenedorimagenesnoticias img {
    width: 100%;
    height: 100%;
  }
  .seccion-noticas-contenedorpadre .articulos-seccionoticias {
    display: flex;
    justify-content: center;
    border: solid 2px whitesmoke;
    background-color: rgb(2, 2, 54);
  }
  .seccion-noticas-contenedorpadre .articulos-seccionoticias h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.7rem;
    color: whitesmoke;
    width: 100%;
  }
  .seccion-noticas-contenedorpadre .articulos-seccionoticias p {
    display: flex;
    text-align: center;
    color: whitesmoke;
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .segalogoheader {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .header-pagina-noticias {
    background-color: whitesmoke;
    width: 100%;
  }
  .navbar {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    width: 100%;
  }
  .container-fluid .navbar-toggler {
    width: 3rem;
    height: 3rem;
    border: solid 1.5px black;
  }
  .container-fluid .navbar-toggler-icon {
    width: 100%;
    height: 100%;
  }
  .container-fluid .nav-item {
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }
  .video-noticias {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1020px) {
  .nav-item {
    display: flex;
    justify-content: center;
    width: 15rem;
  }
  .nav-item .nav-link {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
    border: solid black 1px;
  }
}
@media (min-width: 1200px) {
  .video-noticias {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40rem;
    margin-bottom: 10rem;
  }
  .contenedorimagenesnoticias {
    height: 100%;
    width: 100%;
  }
  .contenedorimagenesnoticias .imagenesdenoticias {
    height: 100%;
    width: 100%;
  }
  .seccion-noticas-contenedorpadre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-bottom: 10rem;
  }
  .seccion-noticas-contenedorpadre .articulos-seccionoticias {
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 1rem;
  }
  .seccion-noticas-contenedorpadre .articulos-seccionoticias p {
    font-size: 1.1rem;
  }
}
.titulobienvenidoinsiderintroduccion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15rem;
}
.titulobienvenidoinsiderintroduccion h1 {
  text-align: center;
  font-size: 3rem;
  color: aliceblue;
  width: 100%;
}

.articuloinfosegainsider {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.articuloinfosegainsider h2 {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 4rem;
  font-size: 1.8rem;
  border-top: solid 1px whitesmoke;
  border-bottom: solid 1px whitesmoke;
  background-color: rgb(53, 89, 130);
}
.articuloinfosegainsider p {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
.articuloinfosegainsider ul li {
  color: whitesmoke;
  font-size: 1.2rem;
  list-style-type: disc;
  text-align: center;
  margin: 1.5rem;
}

form {
  width: 100%;
  height: 100%;
  padding: 0.2em;
  border: solid black 4px;
  background-color: rgb(190, 190, 193);
  color: whitesmoke;
  margin-top: 5rem;
}
form video {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  border: solid 3px rgb(1, 1, 47);
}
form input {
  width: 100%;
  height: 3rem;
  padding: 10px;
  border: none;
  border-bottom: solid 3px black;
  font-size: 1rem;
  margin-bottom: 2rem;
  background-color: rgb(53, 89, 130);
}
form label {
  display: flex;
  color: whitesmoke;
  font-size: 1.2rem;
}
form .labelform {
  width: 100%;
  height: 1.8rem;
  justify-content: center;
  font-size: 1.2rem;
  color: black;
  border: 1px solid black;
  background-color: whitesmoke;
  margin-bottom: 1px;
}
form .form-text {
  width: 100%;
  height: 10rem;
  padding: 10px;
  border: none;
  border-bottom: solid 3px black;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  background-color: rgb(53, 89, 130);
}
form .enviar {
  width: 100%;
  background-color: rgb(53, 89, 130);
  font-size: 1rem;
  color: white;
}
form .enviar:hover {
  background-color: rgb(38, 54, 55);
  font-size: 1.7rem;
  color: aquamarine;
}
form .Nacionalidad-selector {
  width: 100%;
  height: 3.5rem;
  border: none;
  border-bottom: solid 3px black;
  border-top: solid 2px black;
  font-size: 1rem;
  margin-bottom: 3rem;
  background-color: rgb(53, 89, 130);
  text-align: center;
}
form .Nacionalidad-selector select {
  width: 100%;
  height: 2rem;
  background-color: rgb(53, 89, 130);
  color: whitesmoke;
}
form .checkbox-contenedor {
  display: grid;
  grid-template-columns: 80% 10% 10%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  width: 100%;
  height: 15rem;
  text-align: start;
  border-bottom: 3px solid black;
  background-color: rgb(53, 89, 130);
  margin-bottom: 1.5rem;
  padding: 5px;
}
form .checkbox-contenedor .si-no-titulo {
  margin-top: 1rem;
  text-align: center;
}
form .checkbox-contenedor label {
  font-size: 1.1rem;
  text-align: start;
}
form .checkbox-contenedor input {
  height: 1.5rem;
  align-items: end;
}
form .checkbox-verde {
  accent-color: rgb(72, 215, 6);
}
form .checkbox-rojo {
  accent-color: rgb(255, 65, 65);
}

fieldset {
  width: 100%;
  height: 100%;
  border: none;
}
fieldset legend {
  text-align: center;
  font-size: 3rem;
  color: ghostwhite;
  margin-bottom: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

@media (min-width: 375px) {
  .banner-seccion-index {
    width: 0px;
    height: 0px;
  }
  .titulobienvenidoinsiderintroduccion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
  }
  .titulobienvenidoinsiderintroduccion h1 {
    text-align: center;
    font-size: 3rem;
    color: aliceblue;
    width: 100%;
  }
  .articuloinfosegainsider {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .articuloinfosegainsider h2 {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 4rem;
    font-size: 1.8rem;
    border-top: solid 1px whitesmoke;
    border-bottom: solid 1px whitesmoke;
    background-color: rgb(53, 89, 130);
  }
  .articuloinfosegainsider p {
    color: white;
    font-size: 1.2rem;
    text-align: center;
  }
  .articuloinfosegainsider ul li {
    color: whitesmoke;
    font-size: 1.2rem;
    list-style-type: disc;
    text-align: center;
    margin: 1.5rem;
  }
  .articuloinfosegainsider img {
    width: 100%;
    margin-top: 3rem;
  }
  form {
    width: 100%;
    height: 100%;
    padding: 0.2em;
    border: solid black 4px;
    background-color: rgb(190, 190, 193);
    color: whitesmoke;
    margin-top: 5rem;
  }
  form video {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    border: solid 3px rgb(1, 1, 47);
  }
  form input {
    width: 100%;
    height: 3rem;
    padding: 10px;
    border: none;
    border-bottom: solid 3px black;
    font-size: 1rem;
    margin-bottom: 2rem;
    background-color: rgb(53, 89, 130);
  }
  form label {
    display: flex;
    color: whitesmoke;
    font-size: 1.2rem;
  }
  form .labelform {
    width: 100%;
    height: 1.8rem;
    justify-content: center;
    font-size: 1.2rem;
    color: black;
    border: 1px solid black;
    background-color: whitesmoke;
    margin-bottom: 1px;
  }
  form .form-text {
    width: 100%;
    height: 10rem;
    padding: 10px;
    border: none;
    border-bottom: solid 3px black;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    background-color: rgb(53, 89, 130);
  }
  form .enviar {
    width: 100%;
    background-color: rgb(53, 89, 130);
    font-size: 1rem;
    color: white;
  }
  form .enviar:hover {
    background-color: rgb(38, 54, 55);
    font-size: 1.7rem;
    color: aquamarine;
  }
  form .Nacionalidad-selector {
    width: 100%;
    height: 3.5rem;
    border: none;
    border-bottom: solid 3px black;
    border-top: solid 2px black;
    font-size: 1rem;
    margin-bottom: 3rem;
    background-color: rgb(53, 89, 130);
    text-align: center;
  }
  form .Nacionalidad-selector select {
    width: 100%;
    height: 2rem;
    background-color: rgb(53, 89, 130);
    color: whitesmoke;
  }
  form .checkbox-contenedor {
    display: grid;
    grid-template-columns: 80% 10% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 100%;
    height: 100%;
    text-align: center;
    border-bottom: 3px solid black;
    background-color: rgb(53, 89, 130);
    margin-bottom: 1.5rem;
    padding: 5px;
  }
  form .checkbox-contenedor .si-no-titulo {
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  form .checkbox-contenedor label {
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    height: 100%;
    justify-content: center;
  }
  form .checkbox-contenedor input {
    height: 1.5rem;
    width: 100%;
    align-items: end;
  }
  form .checkbox-verde {
    accent-color: rgb(72, 215, 6);
  }
  form .checkbox-rojo {
    accent-color: rgb(255, 65, 65);
  }
  fieldset {
    width: 100%;
    height: 100%;
    border: none;
  }
  fieldset legend {
    text-align: center;
    font-size: 3rem;
    color: ghostwhite;
    margin-bottom: 2rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
}
@media (min-width: 768px) {
  .banner-seccion-index {
    width: 100%;
    height: 30rem;
  }
  .titulobienvenidoinsiderintroduccion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
  }
  .titulobienvenidoinsiderintroduccion h1 {
    text-align: center;
    font-size: 3.5rem;
    color: rgb(167, 210, 255);
    width: 100%;
    margin-top: 3rem;
  }
  .articuloinfosegainsider {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .articuloinfosegainsider h2 {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 4rem;
    font-size: 1.8rem;
    border-top: solid 1px whitesmoke;
    border-bottom: solid 1px whitesmoke;
    background-color: rgb(53, 89, 130);
  }
  .articuloinfosegainsider p {
    color: white;
    font-size: 1.2rem;
    text-align: center;
  }
  .articuloinfosegainsider ul li {
    color: whitesmoke;
    font-size: 1.2rem;
    list-style-type: disc;
    text-align: center;
    margin: 1.5rem;
  }
  form {
    width: 100%;
    height: 100%;
    padding: 0.2em;
    border: solid black 4px;
    background-color: rgb(190, 190, 193);
    color: whitesmoke;
    margin-top: 5rem;
  }
  form video {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    border: solid 3px rgb(1, 1, 47);
  }
  form input {
    width: 100%;
    height: 3rem;
    padding: 10px;
    border: none;
    border-bottom: solid 3px black;
    font-size: 1rem;
    margin-bottom: 2rem;
    background-color: rgb(53, 89, 130);
  }
  form label {
    display: flex;
    color: whitesmoke;
    font-size: 1.2rem;
  }
  form .labelform {
    width: 100%;
    height: 1.8rem;
    justify-content: center;
    font-size: 1.2rem;
    color: black;
    border: 1px solid black;
    background-color: whitesmoke;
    margin-bottom: 1px;
  }
  form .form-text {
    width: 100%;
    height: 10rem;
    padding: 10px;
    border: none;
    border-bottom: solid 3px black;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    background-color: rgb(53, 89, 130);
  }
  form .enviar {
    width: 100%;
    background-color: rgb(53, 89, 130);
    font-size: 1rem;
    color: white;
  }
  form .enviar:hover {
    background-color: rgb(38, 54, 55);
    font-size: 1.7rem;
    color: aquamarine;
  }
  form .Nacionalidad-selector {
    width: 100%;
    height: 3.5rem;
    border: none;
    border-bottom: solid 3px black;
    border-top: solid 2px black;
    font-size: 1rem;
    margin-bottom: 3rem;
    background-color: rgb(53, 89, 130);
    text-align: center;
  }
  form .Nacionalidad-selector select {
    width: 100%;
    height: 2rem;
    background-color: rgb(53, 89, 130);
    color: whitesmoke;
  }
  form .checkbox-contenedor {
    display: grid;
    grid-template-columns: 80% 10% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 100%;
    height: 100%;
    text-align: center;
    border-bottom: 3px solid black;
    background-color: rgb(53, 89, 130);
    margin-bottom: 1.5rem;
    padding: 5px;
  }
  form .checkbox-contenedor .si-no-titulo {
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
  }
  form .checkbox-contenedor label {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    height: 100%;
    justify-content: center;
  }
  form .checkbox-contenedor input {
    height: 1.5rem;
    width: 100%;
    align-items: end;
  }
  form .checkbox-verde {
    accent-color: rgb(72, 215, 6);
  }
  form .checkbox-rojo {
    accent-color: rgb(255, 65, 65);
  }
  fieldset {
    width: 100%;
    height: 100%;
    border: none;
  }
  fieldset legend {
    text-align: center;
    font-size: 3rem;
    color: ghostwhite;
    margin-bottom: 2rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
}
@media (min-width: 1020px) {
  .banner-seccion-index {
    width: 100%;
    height: 30rem;
  }
  .titulobienvenidoinsiderintroduccion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
  }
  .titulobienvenidoinsiderintroduccion h1 {
    text-align: center;
    font-size: 6rem;
    color: rgb(167, 210, 255);
    width: 100%;
    margin-top: 3rem;
  }
  .articuloinfosegainsider {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .articuloinfosegainsider h2 {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 4rem;
    font-size: 3rem;
    border-top: solid 1px whitesmoke;
    border-bottom: solid 1px whitesmoke;
    background-color: rgb(53, 89, 130);
  }
  .articuloinfosegainsider p {
    color: white;
    font-size: 2rem;
    text-align: center;
  }
  .articuloinfosegainsider ul li {
    color: whitesmoke;
    font-size: 2rem;
    list-style-type: disc;
    text-align: center;
    margin: 1.5rem;
  }
  form {
    width: 100%;
    height: 100%;
    padding: 0.2em;
    border: solid black 4px;
    background-color: rgb(190, 190, 193);
    color: whitesmoke;
    margin-top: 5rem;
  }
  form video {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    border: solid 3px rgb(1, 1, 47);
  }
  form input {
    width: 100%;
    height: 3rem;
    padding: 10px;
    border: none;
    border-bottom: solid 3px black;
    font-size: 1rem;
    margin-bottom: 2rem;
    background-color: rgb(53, 89, 130);
  }
  form label {
    display: flex;
    color: whitesmoke;
    font-size: 1.2rem;
  }
  form .labelform {
    width: 100%;
    height: 1.8rem;
    justify-content: center;
    font-size: 1.2rem;
    color: black;
    border: 1px solid black;
    background-color: whitesmoke;
    margin-bottom: 1px;
  }
  form .form-text {
    width: 100%;
    height: 10rem;
    padding: 10px;
    border: none;
    border-bottom: solid 3px black;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    background-color: rgb(53, 89, 130);
  }
  form .enviar {
    width: 100%;
    background-color: rgb(53, 89, 130);
    font-size: 1rem;
    color: white;
  }
  form .enviar:hover {
    background-color: rgb(38, 54, 55);
    font-size: 1.7rem;
    color: aquamarine;
  }
  form .Nacionalidad-selector {
    width: 100%;
    height: 3.5rem;
    border: none;
    border-bottom: solid 3px black;
    border-top: solid 2px black;
    font-size: 1rem;
    margin-bottom: 3rem;
    background-color: rgb(53, 89, 130);
    text-align: center;
  }
  form .Nacionalidad-selector select {
    width: 100%;
    height: 2rem;
    background-color: rgb(53, 89, 130);
    color: whitesmoke;
  }
  form .checkbox-contenedor {
    display: grid;
    grid-template-columns: 80% 10% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 100%;
    height: 100%;
    text-align: center;
    border-bottom: 3px solid black;
    background-color: rgb(53, 89, 130);
    margin-bottom: 1.5rem;
    padding: 5px;
  }
  form .checkbox-contenedor .si-no-titulo {
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
  }
  form .checkbox-contenedor label {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    height: 100%;
    justify-content: center;
  }
  form .checkbox-contenedor input {
    height: 2.9rem;
    width: 100%;
    align-items: end;
    align-content: center;
  }
  form .checkbox-verde {
    accent-color: rgb(72, 215, 6);
  }
  form .checkbox-rojo {
    accent-color: rgb(255, 65, 65);
  }
  fieldset {
    width: 100%;
    height: 100%;
    border: none;
  }
  fieldset legend {
    text-align: center;
    font-size: 3rem;
    color: ghostwhite;
    margin-bottom: 2rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
}
.segashopbanner {
  width: 100%;
}
.segashopbanner img {
  width: 100%;
  height: 10rem;
  filter: drop-shadow(3px 3px 3px);
}

.titulomercanciafavorita {
  display: flex;
  justify-content: center;
  width: 100%;
}
.titulomercanciafavorita h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  color: whitesmoke;
  font-size: 1.5rem;
  margin-top: 5rem;
  text-align: center;
}

.seccionmercanciafavorita {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  gap: 1rem;
}
.seccionmercanciafavorita img {
  border: solid 2px whitesmoke;
  background-color: rgba(95, 158, 160, 0.383);
  height: 100%;
  width: 100%;
  filter: drop-shadow(3px 5px 5px);
}

.contenedortarjetasmercha {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contenedortarjetasmercha img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 12rem;
  border: 1px solid whitesmoke;
}
.contenedortarjetasmercha button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  background-color: bisque;
  border: solid black 3px;
  border-radius: 10px;
  height: 2rem;
  font-size: 1.1rem;
}

.tituloh2 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.tituloh2 h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 10rem;
  margin-bottom: 1rem;
  color: whitesmoke;
  text-align: center;
}

.contenedordetarjetaslomasvendido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 180px 180px 180px 180px 180px;
  gap: 4rem;
}
.contenedordetarjetaslomasvendido img {
  width: 100%;
  height: 100%;
  border: 2px solid white;
}
.contenedordetarjetaslomasvendido button {
  width: 100%;
  background-color: bisque;
}
.contenedordetarjetaslomasvendido h3 {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 0.8rem;
}

.slider-frame {
  width: 100%;
  height: 100%;
  margin: 10px auto 0;
  overflow: hidden;
  border: 3px ghostwhite solid;
}
.slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 16s infinite alternate ease-in-out;
}
.slider-frame li {
  list-style-type: none;
  width: 100%;
}
.slider-frame img {
  width: 100%;
  height: 100%;
}

@media (min-width: 375px) {
  .segashopbanner {
    width: 100%;
  }
  .segashopbanner img {
    width: 100%;
    height: 10rem;
    filter: drop-shadow(3px 3px 3px);
  }
  .titulomercanciafavorita {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .titulomercanciafavorita h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: whitesmoke;
    font-size: 1.5rem;
    margin-top: 5rem;
    text-align: center;
  }
  .seccionmercanciafavorita {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    gap: 1rem;
  }
  .seccionmercanciafavorita img {
    border: solid 2px whitesmoke;
    background-color: rgba(95, 158, 160, 0.383);
    height: 100%;
    width: 100%;
    filter: drop-shadow(3px 5px 5px);
  }
  .contenedortarjetasmercha {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .contenedortarjetasmercha img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 12rem;
    border: 1px solid whitesmoke;
  }
  .contenedortarjetasmercha button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    background-color: bisque;
    border: solid black 3px;
    border-radius: 10px;
    height: 2rem;
    font-size: 1.1rem;
  }
  .tituloh2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .tituloh2 h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
    color: whitesmoke;
    text-align: center;
  }
  .contenedordetarjetaslomasvendido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 180px 180px 180px 180px 180px;
    gap: 4rem;
  }
  .contenedordetarjetaslomasvendido img {
    width: 100%;
    height: 100%;
    border: 2px solid white;
  }
  .contenedordetarjetaslomasvendido button {
    width: 100%;
    background-color: bisque;
  }
  .contenedordetarjetaslomasvendido h3 {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 0.8rem;
  }
  .slider-frame {
    width: 100%;
    height: 100%;
    margin: 10px auto 0;
    overflow: hidden;
  }
  .slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite alternate ease-in-out;
  }
  .slider-frame li {
    list-style-type: none;
    width: 100%;
  }
  .slider-frame img {
    width: 100%;
    height: 100%;
  }
  @keyframes slide {
    0% {
      margin-left: 0%;
    }
    20% {
      margin-left: 0%;
    }
    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }
    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }
    75% {
      margin-left: -300%;
    }
    95% {
      margin-left: -300%;
    }
  }
}
@media (min-width: 768px) {
  .titulomercanciafavorita {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .titulomercanciafavorita h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: whitesmoke;
    font-size: 1.5rem;
    text-align: center;
  }
  .seccionmercanciafavorita {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    gap: 1rem;
  }
  .seccionmercanciafavorita img {
    border: solid 2px whitesmoke;
    background-color: rgba(95, 158, 160, 0.383);
    height: 100%;
    width: 100%;
    filter: drop-shadow(3px 5px 5px);
  }
  .contenedortarjetasmercha {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedortarjetasmercha img {
    display: flex;
    justify-content: center;
    width: 30rem;
    height: 12rem;
    border: 1px solid whitesmoke;
  }
  .contenedortarjetasmercha button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    background-color: bisque;
    border: solid black 3px;
    border-radius: 10px;
    height: 2rem;
    font-size: 1.1rem;
  }
  .tituloh2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .tituloh2 h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
    color: whitesmoke;
    text-align: center;
  }
  .contenedordetarjetaslomasvendido {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 150px 150px 150px 150px 150px;
    gap: 4rem;
    width: 100%;
  }
  .contenedordetarjetaslomasvendido img {
    width: 100%;
    height: 100%;
    border: 2px solid white;
  }
  .contenedordetarjetaslomasvendido button {
    width: 100%;
    background-color: bisque;
  }
  .contenedordetarjetaslomasvendido h3 {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 0.8rem;
  }
  .slider-frame {
    width: 100%;
    height: 100%;
    margin: 50px auto 0;
    overflow: hidden;
    border: 5px solid gainsboro;
  }
  .slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite alternate ease-in-out;
  }
  .slider-frame li {
    list-style-type: none;
    width: 100%;
  }
  .slider-frame img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1020px) {
  .titulomercanciafavorita {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .titulomercanciafavorita h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: whitesmoke;
    font-size: 1.5rem;
    text-align: center;
  }
  .seccionmercanciafavorita {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 200px 200px 200px;
    gap: 1rem;
    width: 100%;
  }
  .seccionmercanciafavorita img {
    border: solid 2px whitesmoke;
    background-color: rgba(95, 158, 160, 0.383);
    height: 100%;
    width: 100%;
    filter: drop-shadow(3px 5px 5px);
  }
  .seccionmercanciafavorita .logopuyopuyo {
    grid-column: 2;
  }
  .seccionmercanciafavorita .logoyakuza {
    grid-column: 2;
    grid-row: 3;
  }
  .seccionmercanciafavorita .logojetsetradio {
    grid-column: 3;
    grid-row: 3;
  }
  .seccionmercanciafavorita .logosambadeamigo {
    grid-column: 3;
  }
  .seccionmercanciafavorita .logoshenmue {
    grid-column: 2;
    grid-row: 2;
  }
  .contenedortarjetasmercha {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedortarjetasmercha img {
    display: flex;
    justify-content: center;
    width: 30rem;
    height: 12rem;
    border: 1px solid whitesmoke;
  }
  .contenedortarjetasmercha button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    background-color: bisque;
    border: solid black 3px;
    border-radius: 10px;
    height: 2rem;
    font-size: 1.1rem;
  }
  .tituloh2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .tituloh2 h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
    color: whitesmoke;
    text-align: center;
  }
  .contenedordetarjetaslomasvendido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 350px 350px 350px 350px;
    gap: 6rem;
    width: 100%;
  }
  .contenedordetarjetaslomasvendido img {
    width: 100%;
    height: 100%;
    border: 2px solid white;
  }
  .contenedordetarjetaslomasvendido button {
    width: 100%;
    background-color: bisque;
    font-size: 2rem;
  }
  .contenedordetarjetaslomasvendido h3 {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 1.5rem;
  }
  .slider-frame {
    width: 100%;
    height: 100%;
    margin: 50px auto 0;
    overflow: hidden;
    border: 5px solid gainsboro;
  }
  .slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite alternate ease-in-out;
  }
  .slider-frame li {
    list-style-type: none;
    width: 100%;
  }
  .slider-frame img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1400px) {
  .titulomercanciafavorita {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .titulomercanciafavorita h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: whitesmoke;
    font-size: 4rem;
    text-align: center;
  }
  .seccionmercanciafavorita {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 200px 200px 200px;
    gap: 1rem;
    width: 100%;
  }
  .seccionmercanciafavorita img {
    border: solid 2px whitesmoke;
    background-color: rgba(95, 158, 160, 0.383);
    height: 100%;
    width: 100%;
    filter: drop-shadow(5px 5px 5px);
  }
  .seccionmercanciafavorita .logopuyopuyo {
    grid-column: 2;
  }
  .seccionmercanciafavorita .logoyakuza {
    grid-column: 2;
    grid-row: 3;
  }
  .seccionmercanciafavorita .logojetsetradio {
    grid-column: 3;
    grid-row: 3;
  }
  .seccionmercanciafavorita .logosambadeamigo {
    grid-column: 3;
  }
  .seccionmercanciafavorita .logoshenmue {
    grid-column: 2;
    grid-row: 2;
  }
  .contenedortarjetasmercha {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedortarjetasmercha img {
    display: flex;
    justify-content: center;
    width: 30rem;
    height: 12rem;
    border: 1px solid whitesmoke;
  }
  .contenedortarjetasmercha button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    background-color: bisque;
    border: solid black 3px;
    border-radius: 10px;
    height: 2rem;
    font-size: 1.1rem;
  }
  .tituloh2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .tituloh2 h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
    color: whitesmoke;
    text-align: center;
  }
  .contenedordetarjetaslomasvendido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px 350px 350px 350px;
    gap: 6rem;
    width: 100%;
  }
  .contenedordetarjetaslomasvendido img {
    display: flex;
    align-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid white;
  }
  .contenedordetarjetaslomasvendido button {
    width: 100%;
    background-color: bisque;
    font-size: 2rem;
  }
  .contenedordetarjetaslomasvendido h3 {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 1.5rem;
    width: 100%;
  }
  .slider-frame {
    width: 100%;
    height: 100%;
    margin: 0% auto 0;
    overflow: hidden;
    border: transparent;
  }
  .slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite alternate ease-in-out;
  }
  .slider-frame li {
    list-style-type: none;
    width: 100%;
  }
  .slider-frame img {
    width: 100%;
    height: 80%;
    border: solid 5px ghostwhite;
  }
}

/*# sourceMappingURL=styles.css.map */
