* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ---SECCION INDEX */
@media (min-width:408px) {

    video {
        width: 100%;
    height: 10rem;
    }


    .gamegearmicro {
        width: 0px;
        height: 0px;
    }


    .sonicfigura {
        width: 0px;
        height: 0px;
    }



    header {
        background-color: rgb(2, 2, 54);
        width: 100%;
        display: grid;
        position: sticky;
        top: 0;
    }


    .segalogoheader {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .segalogoheader img {
        width: 10rem;
    }

    .seccionnavegador {
        display: flex;

        width: 100%;


    }

    .seccionnavegador ul {
        background-color: whitesmoke;
        display: flex;
        list-style-type: none;
        padding: 5px;
        gap: 15px;
        width: 100%;


    }

    .seccionnavegador a {
        color: black;
        display: flex;
        justify-content: center;
        font-size: 0.9rem;
        width: 100%;

    }

    .paginasnavegadorindex {
        display: inline;
        font-size: 15px;
        width: 100%;

    }

    .titulonuestrasfranquicias {
        display: flex;
        color: whitesmoke;
        font-size: 0.8rem;
        margin-top: 20px;

    }

    .titulonuestrasfranquicias,
    h1 {
        display: flex;
        justify-content: center;
    }

    .seccion-logos-videojuegos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5px;
        gap: 2rem;

    }

    .seccion-logos-videojuegos img {
        width: 100%;
        height: 15rem;
        border: solid whitesmoke 2px;
        border-radius: 0.3rem;
    }

    .ultimasnoticiastituloindex {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .ultimasnoticiastituloindex h2 {
        font-size: 1.6rem;
    }

    .contenedorseccionultimasnoticias {
        display: flex;
        gap: 5px;
        padding: 5px;

    }


    .articulo-ultimas-noticias {
        width: 100%;
        border: solid whitesmoke 1px;
        background-color: rgba(0, 0, 0, 0.49);
    }

    .articulo-ultimas-noticias img {
        width: 100%;
        height: 10rem;
        border: solid whitesmoke 1px;
    }


    .articulo-ultimas-noticias h3 {
        color: white;
        font-size: 1rem;
        text-align: center;

    }



    .articulo-ultimas-noticias p {
        text-align: start;
    }


    .titulo-ultimos-lanzamientos {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        font-size: 1.6rem;

    }


    .logo-sonic-frontiers {
        display: flex;
        justify-content: center;
        width: 100%;

    }

    .logo-sonic-frontiers img {

        height: 10rem;
        width: 20rem;
        margin-top: 1rem;

    }


    .seccion-link-compra {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .compraya-sonicfrontiers {
        display: flex;
        justify-content: center;
        width: 6rem;
        height: 4rem;
        border: solid white 3px;
        margin-bottom: 2rem;
    }


    .bannersonicfrontiers {
        margin-bottom: 2rem;
        width: 100%;
        margin-top: 2rem;
    }

    .seccion-ulitmos-lanzamientos {
        display: flex;
        flex-direction: column;
        padding: 5px;

    }



    .seccion-ulitmos-lanzamientos h2 {
        font-size: 2rem;
        color: aquamarine;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    .seccion-ulitmos-lanzamientos p {
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .articulo-ultimoslanzamientos {
        border: solid whitesmoke 2px;
        background-color: rgb(4, 1, 38)
    }

    .articulo-ultimoslanzamientos video {
        border-bottom: solid whitesmoke 2px;
    }


    .segainsidertitulo h2 {
        margin-top: 3rem;
        font-size: 1.3rem;
        width: 100%;
        color: whitesmoke;
        padding: 5px;
    }


    .Footerseccionindex {
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        height: 45rem;
        width: 100%;
    }

    .Footerseccionindex img {
        width: 100%;
        height: 20rem;
    }


    .Footerseccionindex p {
        color: black;
        font-size: 1.1rem;

    }

    .footerlink {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .footerlink ul li {
        display: inline;
    }

    .footerlink img {
        display: inline;
        height: 2.5rem;
        width: 2.5rem;
        margin: 10px;
    }

    .banner60añosfooterindex img {
        width: 100%;
        height: 25rem;
    }


    .segalogofooterindex {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .segalogofooterindex img {
        height: 5rem;
        width: 8rem;
    }

}

@media (min-width:768px) {


    main {
        padding: 10px;
    }


    header {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .segalogoheader {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 5rem;
    }


    .segalogoheader img {
        display: flex;
        height: 5rem;
        width: 10rem;
    }


    .paginasnavegadorindex {
        display: inline;
        font-size: 25px;
        width: 100%;
        margin: 15px;

    }


    .seccion-logos-videojuegos {
        display: flex;
        width: 100%;
    }

    .seccion-logos-videojuegos img {
        height: 15rem;
        margin-top: 2rem;

    }

    .seccion-logos-videojuegos h2 {
        font-size: 0.7rem;
    }



    .logo-sonic-frontiers {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo-sonic-frontiers img {
        display: flex;
        width: 20rem;

    }

    .banner60añosfooterindex img {
        height: 25rem;
    }

    .segalogofooterindex {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .segalogofooterindex img {
        height: 10rem;
        width: 20rem;
    }

}

@media (min-width:1200px) {

    .articuloseccionultimoslanzamientos {
        width: 100%;
    }

    .seccion-logos-videojuegos img {
        width: 100%;
        height: 37.4rem;

    }


    .contenedorseccionultimasnoticias {
        height: 40rem;
        width: 100%;
    }

    .articulo-ultimas-noticias .imagen-ultimas-noticias {
        height: 20rem;
        width: 100%;
    }

    .articulo-ultimas-noticias h3 {
        font-size: 2rem;
        color: bisque;
        width: 100%;
    }

    .articulo-ultimas-noticias p {
        font-size: 1.7rem;
        text-align: center;

    }

    .Footerseccionindex {
        display: grid;
        width: 100%;
        height: 60rem;
        grid-template-columns: 300px 300px 300px 300px 300px;
        grid-template-rows: 200px 200px 200px 200px;

    }

    .footerlink {
        grid-row: 2;
        width: 100vw;

    }

    .footerlink a img {
        height: 3rem;
        width: 4rem;
        margin: 4rem;
    }


    .derechosreservadosfooter {
        grid-column: 1 / span 4;
        grid-row: 3;
        width: 100vw;
    }

    .derechosreservadosfooter p {
        width: 100vw;
        font-size: 2rem;
    }




    .banner60añosfooterindex {
        width: 100vw;
        grid-column: 1 / span 4;
        grid-row: 5;

    }

    .banner60añosfooterindex img {

        height: 100%;
    }


    .segalogofooterindex {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .segalogofooterindex img {
        height: 20rem;
        width: 30rem;
    }

}



/* ---SECCION SONIC EL ERIZO */
@media (min-width: 407px) {

    body {
        background-color: rgb(2, 2, 72);
    }


    a {
        text-decoration: none;
        color: black;
    }

    .segalogonavegador {
        display: flex;
        background-color: rgb(6, 6, 47);
        width: 100%;
        justify-content: center;
    }

    .segalogonavegador .segalogo {
        background-color: transparent;
        width: 100%;
        height: 60px;
        display: flex;
    }

    .barradenavegacion {
        width: 100%;
        display: flex;
        height: 30px;
        background-color: whitesmoke;
        justify-content: space-evenly;
        font-style: italic;

    }

    .barradenavegacion ul {
        display: flex;
        flex-direction: inline;
        align-items: center;
        font-size: 13px;
        gap: 30px;
        list-style: none;


    }

    .imagendefondosonic {
        background-image: url(../imagenes/sonicsuperstars.jpg.webp);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: 100%;
    }


    .cajalogosonic {
        display: flex;
        justify-content: center;
        width: 100%;
    }



    .sonicbannerlogo {
        width: 15rem;
        height: 8rem;


    }

    .titulovideojuegos h2 {
        background-color: transparent;
        height: 50px;
        font-size: 20px;
        margin-top: 50px;
        justify-content: center;
        color: whitesmoke;
        display: flex;


    }

    .seccionjuegosdesonic {
        display: grid;
        background-color: transparent;
        grid-template-columns: 150px 160px;
        justify-content: space-evenly;
        gap: 10px;

    }


    .juegossonic {
        display: grid;
        height: 160px;
        width: 160px;
        border-radius: 10px;
        border: 1px solid whitesmoke;
        margin-top: 20px;

    }


    .juegossonic,
    h2 {
        font-size: 15px;
        text-align: center;
        color: whitesmoke;
    }




    .bannerseccionfrontiers {
        width: 100%;
    }


    .logo-seccion-sonicfrontiers {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10rem;


    }


    .logo-seccion-sonicfrontiers img {
        height: 100%;
        width: 20rem;
        background-color: transparent;
        margin-top: 50px;
        border-top: solid whitesmoke 1px;

    }


    .logo-seccion-sonicfrontiers a {
        display: flex;
        justify-content: center;
        color: black;
        background-color: white;
        margin-left: 130px;
        margin-right: 130px;
        margin-top: 20px;
    }


    .compraahorasonicfrontiers {
        border: solid aquamarine 1px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
        height: 30px;
        font-size: 1.5rem;
        margin-top: 1.5rem;

    }



    .titulosonicnoticiasrecientes {
        margin-top: 50px;
        font-size: 25px;
        background-color: rgb(10, 10, 50);
    }


    .Sonicseccionultimasnoticias {
        display: flex;
        height: 400px;
        background-color: rgb(10, 10, 50);

    }

    .articulo-sonic-noticas img {
        width: 100%;
        height: 100%;
        display: grid;
        border-bottom: solid aquamarine 1px;

    }

    .articulo-sonic-noticas h3,
    h4,
    p {
        font-size: 15px;
        align-items: center;
        display: grid;
        color: whitesmoke;
        text-align: center;

    }

    .articulo-sonic-noticas {
        display: grid;
        background-color: rgba(0, 0, 0, 0.467);
        width: 500px;
        height: 100%;
        justify-content: center;
        margin-left: 5px;
        margin-right: 5px;
        border: solid aquamarine 1px;


    }

    .introduccioninformacionsonicfrontiers h2 {
        font-size: 40px;
        margin-top: 50px;
        color: aquamarine;
    }

    .introduccioninformacionsonicfrontiers h3 {
        font-size: 1.1rem;
        text-align: center;
        color: whitesmoke;
        margin-top: 10px;
        padding: 1rem;
    }


    .contenedorvideossonicfrontiers {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .seccionvideosonicfrontiers h3 {
        font-size: 1.5rem;
        color: aquamarine;
        text-align: center;
        margin-bottom: 20px;

    }

    .seccionvideosonicfrontiers video {
        width: 100%;
        margin-top: 10px;
        height: 100%;
        border: solid aquamarine 1px;

    }

    .seccionvideosonicfrontiers p {
        font-size: 1.1rem;
        text-align: center;
        padding: 1px;

    }


    .bannerseccionfrontiers {
        margin-top: 20px;
        margin-bottom: 20px;
        border: solid aquamarine 1px;
    }

    .comprasonicfrontiers h2 {
        font-size: 2.5rem;
        text-align: center;
        color: aquamarine;
        margin-top: 50px;
    }

    .seleccionarplataforma h4 {
        color: whitesmoke;
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 1.2rem;


    }

    .contenedorseleccionplataforma {
        display: flex;
        flex-direction: column;
    }



    .contenedorseleccionplataforma {
        display: grid;
        width: 100%;
        justify-content: center;

    }

    .plataformaseleccionada {
        display: grid;
        margin: 10px;
        border: solid goldenrod 5px;
        justify-content: center;
        background-color: whitesmoke;
        width: 150px;
        height: 30px;
        align-items: center;

    }

    .edicionessonicfronitiers img {
        width: 100%;
        height: 300px;
        padding: 5px;
        margin-top: 30px;
    }

    .sonicfrontiersedicion {
        display: flex;
        color: whitesmoke;
        justify-content: center;
        flex-direction: column;
        text-align: start;
        padding: 25px;
        font-size: 1.2rem;
        border: solid aquamarine 1px;
        margin-top: 10px;
        background-color: black;

    }

    .sonicfrontiersedicion h3 {
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .sonicteambanner {
        width: 100%;
        height: 70px;
        margin-top: 30px;

    }

    .conviertetensegainsider {
        font-size: 2rem;
        text-align: center;
        margin-top: 40px;
        color: aquamarine;
    }

    .queessegainsider h2 {
        margin-top: 30px;
        padding: 1px;
        font-size: 1.5rem;
    }

    .queessegainsider img {
        width: 100%;

    }


    .seccionfinalfooter {
        height: 500px;
        background-color: whitesmoke;
        display: grid;
        width: 100%;
    }



    .seccionfooterlinks {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;


    }


    .seccionfooterlinks ul li {
        display: inline;
        justify-content: center;
        margin: 3px;
        padding: 5px;
        width: 100%;


    }


    .linksfooter {
        font-size: 1rem;
        width: 100%;

    }


    .seccionfooterh3 {
        display: flex;
        justify-content: center;
        border: solid black 2px;
        align-items: center;
        border-radius: 100px;
        width: 100%;
        margin-bottom: 10px;
        border-style: dashed;
    }

    .fotosegafooter {
        display: flex;
        width: 100px;
    }

    .seccionfootersegalogo {
        display: flex;
        width: 100%;
        height: 40px;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }

    .seccionfinalfooter a {
        color: black;
    }

    .seccionfinalfooter p {
        color: black;
        font-size: 1.1rem;

    }

    .segabanner60aniversario img {
        width: 100vw;
    }


}


@media (min-width: 768px) {

    .imagendefondosonic {
        display: flex;
        background-image: url(../imagenes/sonicsuperstars.jpg.webp);
        background-repeat: no-repeat;
        background-position: 100% 100%;
        width: 100%;
        height: 400px;
        justify-content: center;
        align-items: center;
    }


    .titulovideojuegos h2 {
        font-size: 30px;

    }

    .seccionjuegosdesonic {
        display: flex;
        overflow: hidden;
    }

    .juegossonic {
        width: 190px;
        height: 350px;
    }

    .logo-seccion-sonicfrontiers img {
        width: 100%;
        height: 150px;
        background-color: transparent;
        justify-content: center;
    }


    .logo-seccion-sonicfrontiers {
        display: grid;
        justify-content: center;
        height: 12rem;

    }

    .seccionvideosonicfrontiers p {
        width: 100%;
    }

    .sonicfrontiersedicion {
        width: 100%;
    }

    .edicionessonicfronitiers img {
        width: 100%;
    }

    .contenedorseleccionplataforma {
        background-image: url(../imagenes/sonicrender.jpg.png);
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: 100% 100%;
        height: 400px;

    }


    .bannerseccionfrontiers {
        width: 100%;
    }

    .seccionfooterlinks {
        display: flex;
        justify-content: center;
    }

    .seccionfooterlinks ul li {
        display: inline;
        margin: 5px;
        padding: 5px;
    }

    .linksfooter {
        background-color: aliceblue;
        width: 200px;

    }

    .seccionfooterh3 {
        display: flex;
        border: solid black 2px;
        align-items: center;
        border-radius: 100px;
        width: 100%;
        margin-bottom: 10px;
        border-style: dashed;

    }

    .seccionfootersegalogo {
        height: 100px;
    }


    .fotosegafooter {
        height: 120px;
        width: 200px;
    }

    .segabanner60aniversario img {
        width: 100%;
    }


}


@media (min-width: 1200px) {

    .barradenavegacion {
        display: flex;
        width: 100%;
        height: 100%;
        display: inline;
        margin-top: 15px;
        background-color: aliceblue;
    }


    .barradenavegacion ul {
        background-color: whitesmoke;
    }

    .segalogonavegador {
        display: flex;
        justify-content: space-evenly;
        height: 120px;
        background-color: transparent;
    }

    .barradenavegacion,
    ul,
    li,
    a {
        display: inline;
        justify-content: space-evenly;
        font-size: 25px;
        align-content: center;
        align-items: center;

    }

    .imagendefondosonic {
        width: 100%;
    }

    .titulovideojuegos {
        width: 100%;
    }


    .seccionjuegossonic {
        width: 100%;
    }



    .juegossonic {
        display: flex;
        justify-content: center;
        height: 300px;
    }

    .bannerseccionfrontiers {
        width: 100%;
        height: 15rem;
    }

    .logo-seccion-sonicfrontiers {
        display: flex;
        justify-content: center;
        align-items: start;
        width: 100%;
        height: 800px;
        background-image: url(../imagenes/FWZfZ7aXwAEhB77.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50%;
    }

    .logo-seccion-sonicfrontiers img {
        display: flex;
        width: 40rem;
        height: 20rem;
    }

    .compraahorasonicfrontiers {
        width: 100%;
        display: flex;
        font-size: 2.5rem;
        background-color: whitesmoke;
    }


    .titulosonicnoticiasrecientes {
        width: 100%;
    }

    .Sonicseccionultimasnoticias {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 500px
    }

    .introduccioninformacionsonicfrontiers {
        width: 100%;
    }

    .introduccioninformacionsonicfrontiers h2 {
        font-size: 90px;
        width: 100%;
    }

    .introduccioninformacionsonicfrontiers h3 {
        font-size: 30px;
        width: 100%;
    }

    .seccionvideosonicfrontiers {
        width: 100%;
        display: grid;
    }

    .seccionvideosonicfrontiers video {
        height: 100%;
        width: 100%;
        border: none;
        margin-right: 200px;
    }

    .seccionvideosonicfrontiers h3 {
        font-size: 50px;
        width: 100%;
    }


    .seccionvideosonicfrontiers p {
        font-size: 30px;
        text-align: center;
        width: 100%;
    }

    .contenedorseleccionplataforma {
        background-image: none;
        width: 100%;
    }


    .plataformaseleccionada {
        width: 100%;

    }

    .edicionessonicfronitiers {
        display: flex;
        width: 100%;
        height: 700px;
        justify-content: center;
    }

    .edicionessonicfronitiers img {
        width: 100%;
        height: auto;
    }

    .seccionedicionesdesonicfrontiers {
        display: grid;
        justify-content: center;
        width: 100%;
    }

    .sonicfrontiersedicion {
        display: flex;
        width: 100%;
        height: 500px;
    }

    .sonicfrontiersedicion h3 {
        font-size: 3rem;
        color: aquamarine;
    }

    .sonicfrontiersedicion ul li {
        display: flex;
    }

    .sonicteambanner {
        width: 100%;
        height: 150px;
    }


    .conviertetensegainsider {
        font-size: 5rem;
    }


    .queessegainsider h2 {
        font-size: 3rem;
        color: aquamarine;
    }

    .queessegainsider p {
        font-size: 2rem;

    }

    .segabanner60aniversario img {
        width: 100%;
        height: 400px;
    }

}






/* ---SECCION PAGINA NOTICIAS--- */
@media (min-width: 1200px) {
    .titulo-seccionoticas {
        background-color: whitesmoke;
        width: 100%;
        height: 5rem;
        font-size: 2rem;
        color: black;
        margin-top: 5rem;
        border: solid goldenrod 5px;

    }




    .seccion-noticas-contenedorpadre {
        display: grid;
        height: 230rem;
        grid-template-columns: 50% 44%;
        grid-template-rows: 50rem 50rem 50rem 50rem;
        gap: 10rem;
        margin-top: 2rem;
        width: 100%;
        justify-content: center;
        text-align: end;
    }

    .imagenesdenoticias {
        width: 100%;
        height: 100%;
        border: solid goldenrod 3px;
    }


    .seccion-noticas-contenedorpadre h2 {
        text-align: center;
        width: 100%;
        font-size: 4rem;
        color: aquamarine;

    }

    .seccion-noticas-contenedorpadre p {
        text-align: center;
        width: 100%;
        font-size: 2.8rem;
        padding: 1rem;
    }

}

/* ---SECCION PAGINA SEGA INSIDER */
@media (min-width: 1200px) {

    .titulobienvenidoinsider {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 10rem;
        font-size: 5rem;
        margin-top: 5rem;
        color: aquamarine;

    }

    .titulobienvenidoinsider h2 {
        font-size: 5rem;
        text-decoration: underline;
        color: aquamarine;

    }


    .videoprogramasegainsider {
        display: flex;
        justify-content: center;
        width: 100%;

    }


    .formulario {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 20rem;

        margin-top: 5rem;

    }

    legend {
        font-size: 3rem;
        color: brown;
        height: 4rem;
        text-decoration: underline;
    }


    fieldset {
        width: 50rem;
        height: 20rem;
        background-color: whitesmoke;
        border: solid black 10px;
    }

    .labelform {

        width: 100%;
        height: 2rem;
        font-size: 3rem;
    }


    .articuloinfosegainsider p {
        width: 100%;
        font-size: 2rem;
    }

    .articuloinfosegainsider ul li {
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        width: 100%;


    }

}

/* ---SECCION PAGINA MERCHANDISING */
@media (min-width:1200px) {


    .carusel {
        width: 100%;
        height: 80rem;

    }

    .carousel-inner {
        width: 100%;
        height: 65rem;
    }

    .carousel-inner img {
        height: 65rem;
        width: 100%;
    }


    .titulomercanciafavorita {
        display: flex;
        justify-content: center;
        width: 100%;

    }

    .titulomercanciafavorita h1 {
        font-size: 3rem;
        color: whitesmoke;
        margin-top: 5rem;
    }


    .seccionmercanciafavorita {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;

    }

    .seccionmercanciafavorita img {
        width: 30rem;
        height: 20rem;
        background-color: whitesmoke;
        border: solid goldenrod 5px;
        border-radius: 1rem;
    }


    .tituloh2 {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .tituloh2 h2 {
        color: whitesmoke;
        font-size: 3rem;
        margin-top: 20rem;
    }




    .contenedortarjetasmercha {

        display: flex;
        justify-content: center;
        width: 100%;
        height: 30rem;
        gap: 5rem;
    }

    .tajetacompra {
        width: 100%;

    }


    .tajetacompra img {
        width: 100%;
        height: 100%;
        border: solid goldenrod 5px;
        border-radius: 1rem;
    }

    .tajetacompra button {
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
        width: 100%;
        font-size: 2rem;
        border: solid black 5px;
        border-radius: 100rem;

    }



    .contenedordetarjetaslomasvendido {
        display: flex;
        justify-content: space-between;
        height: 25rem;
        width: 100%;
    }


    .tarjetalomasvendio {

        width: 20rem;
        height: 20rem;

    }

    .tarjetalomasvendio img {
        width: 100%;
        height: 100%;
        border: solid goldenrod 5px;
        border-radius: 1rem;
    }


    .tarjetalomasvendio h3 {
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
        border-radius: 100rem;
        font-size: 1rem
    }


    .tarjetalomasvendio button {
        background-color: wheat;
        width: 100%;
        border-radius: 100px;
    }

}