@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: rgb(9, 9, 93);
  padding: 10px;
}

video {
  width: 100%;
}

.gamegearmicro {
  width: 0px;
  height: 0px;
}

.sonicfigura {
  width: 0px;
  height: 0px;
}

header {
  background-color: rgb(2, 2, 54);
  width: 100%;
  display: grid;
  position: sticky;
  top: 0;
}
header .segalogoheader {
  display: flex;
  justify-content: center;
  width: 100%;
}
header img {
  width: 10rem;
}

.seccionnavegador {
  display: flex;
  width: 100%;
}
.seccionnavegador ul {
  background-color: whitesmoke;
  display: flex;
  list-style-type: none;
  padding: 4px;
  gap: 10px;
  width: 100%;
}
.seccionnavegador a {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  width: 100%;
}
.seccionnavegador .paginasnavegadorindex {
  display: inline;
  font-size: 15px;
  width: 100%;
}

@media (min-width: 375px) {
  .titulonuestrasfranquicias {
    display: flex;
    color: whitesmoke;
    font-size: 0.5rem;
    margin-top: 20px;
  }
  .titulonuestrasfranquicias h1 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .seccion-logos-videojuegos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px;
    gap: 2rem;
  }
  .seccion-logos-videojuegos h2 {
    color: whitesmoke;
    font-size: 1rem;
    text-align: center;
  }
  .seccion-logos-videojuegos img {
    width: 100%;
    height: 15rem;
    border: solid whitesmoke 2px;
    border-radius: 0.3rem;
  }
  .ultimasnoticiastituloindex {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: whitesmoke;
  }
  .ultimasnoticiastituloindex h2 {
    font-size: 1.6rem;
  }
  .contenedorseccionultimasnoticias {
    display: flex;
    gap: 5px;
    padding: 5px;
  }
  .contenedorseccionultimasnoticias .articulo-ultimas-noticias {
    width: 100%;
    border: solid whitesmoke 1px;
    background-color: rgba(0, 0, 0, 0.49);
  }
  .contenedorseccionultimasnoticias .articulo-ultimas-noticias img {
    width: 100%;
    height: 10rem;
    border: solid whitesmoke 1px;
  }
  .contenedorseccionultimasnoticias .articulo-ultimas-noticias h3 {
    color: white;
    font-size: 1rem;
    text-align: center;
  }
  .contenedorseccionultimasnoticias .articulo-ultimas-noticias p {
    text-align: start;
    color: whitesmoke;
  }
  .titulo-ultimos-lanzamientos {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-size: 1.6rem;
    color: whitesmoke;
  }
  .logo-sonic-frontiers {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .logo-sonic-frontiers img {
    height: 10rem;
    width: 20rem;
    margin-top: 1rem;
  }
  .seccion-link-compra {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .seccion-link-compra .compraya-sonicfrontiers {
    display: flex;
    justify-content: center;
    width: 6rem;
    height: 4rem;
    border: solid white 3px;
    margin-bottom: 2rem;
  }
  .bannersonicfrontiers {
    margin-bottom: 2rem;
    width: 100%;
    margin-top: 2rem;
  }
  .seccion-ulitmos-lanzamientos {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .seccion-ulitmos-lanzamientos h2 {
    font-size: 2rem;
    color: aquamarine;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .seccion-ulitmos-lanzamientos p {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 2rem;
    color: whitesmoke;
  }
  .seccion-ulitmos-lanzamientos .articulo-ultimoslanzamientos {
    border: solid whitesmoke 2px;
    background-color: rgb(4, 2, 28);
  }
  video {
    border-bottom: solid whitesmoke 2px;
  }
  .segainsidertitulo h2 {
    margin-top: 3rem;
    font-size: 1.3rem;
    width: 100%;
    color: whitesmoke;
    padding: 5px;
  }
  .Footerseccionindex {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 45rem;
    width: 100%;
  }
  .Footerseccionindex img {
    width: 100%;
    height: 20rem;
  }
  .Footerseccionindex p {
    color: black;
    font-size: 1.1rem;
  }
  .Footerseccionindex .footerlink {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .Footerseccionindex .footerlink ul li {
    display: inline;
  }
  .Footerseccionindex .footerlink img {
    display: inline;
    height: 2.5rem;
    width: 2.5rem;
    margin: 10px;
  }
  .Footerseccionindex .banner60añosfooterindex img {
    width: 100%;
    height: 26rem;
  }
  .Footerseccionindex .segalogofooterindex {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .Footerseccionindex .segalogofooterindex img {
    height: 5rem;
    width: 8rem;
  }
}
@media (min-width: 768px) {
  .seccion-logos-videojuegos {
    display: flex;
    width: 100%;
  }
  .seccion-logos-videojuegos img {
    height: 15rem;
    margin-top: 2rem;
  }
  .seccion-logos-videojuegos h2 {
    font-size: 0.7rem;
  }
  .logo-sonic-frontiers {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .logo-sonic-frontiers img {
    display: flex;
    width: 20rem;
  }
  .banner60añosfooterindex img {
    height: 25rem;
  }
  .segalogofooterindex {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .segalogofooterindex img {
    height: 10rem;
    width: 20rem;
  }
}
@media (min-width: 1200px) {
  .sega2022banner {
    width: 100%;
    height: 55rem;
  }
  .articuloseccionultimoslanzamientos {
    width: 100%;
  }
  .seccion-logos-videojuegos img {
    width: 100%;
    height: 37.4rem;
  }
  .contenedorseccionultimasnoticias {
    height: 60rem;
    width: 100%;
  }
  .contenedorseccionultimasnoticias .articulo-ultimas-noticias {
    height: 40rem;
    width: 100%;
  }
  .contenedorseccionultimasnoticias .articulo-ultimas-noticias .imagen-ultimas-noticias {
    width: 100%;
    height: 25rem;
  }
  .contenedorseccionultimasnoticias .articulo-ultimas-noticias h3 {
    font-size: 1.7rem;
    color: bisque;
    width: 100%;
    height: 100%;
  }
  .contenedorseccionultimasnoticias .articulo-ultimas-noticias p {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .Footerseccionindex {
    display: grid;
    width: 100%;
    height: 60rem;
    grid-template-columns: 300px 300px 300px 300px 300px;
    grid-template-rows: 200px 200px 200px 200px;
  }
  .Footerseccionindex .footerlink {
    grid-row: 2;
    width: 100vw;
  }
  .Footerseccionindex .footerlink a img {
    height: 3rem;
    width: 4rem;
    margin: 4rem;
  }
  .derechosreservadosfooter {
    grid-column: 1/span 4;
    grid-row: 3;
    width: 100vw;
  }
  .derechosreservadosfooter p {
    width: 100vw;
    font-size: 2rem;
  }
  .banner60añosfooterindex {
    width: 100vw;
    grid-column: 1/span 4;
    grid-row: 5;
  }
  .banner60añosfooterindex img {
    height: 100%;
  }
  .segalogofooterindex {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .segalogofooterindex img {
    height: 20rem;
    width: 30rem;
  }
}

/*# sourceMappingURL=style.css.map */
