@media (min-width:375px) {

    .slider-frame-noticias {
        width: 100%;
        height: 100%;
        margin: 0% auto 0;
        overflow: hidden;
        border: transparent;

        ul {
            display: flex;
            padding: 0;
            width: 400%;
            animation: slide 16s infinite alternate ease-in-out;
        }


        li {
            display: flex;
            justify-content: center;
            list-style-type: none;
            width: 100%;

        }

        img {
            width: 100%;
            height: 100%;
            border: solid 1px ghostwhite;
        }
    }

    img {
        width: 50%
    }

    .video-noticias {
        width: 0%;
        height: 0%;

    }

    .titulo-seccionoticas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 8rem;

        h1 {
            color: whitesmoke;
        }
    }


    .section-padre-tarjeta {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 18rem;
        height: 110rem;



        .tarjeta-noticia {
            background-color: cadetblue;
            display: flex;
            flex-direction: column;
            height: 15rem;
            width: 20rem;



            .contenedorimagenesnoticias {
                background-color: green;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%
                }
            }


            .titutlo-noticia {
                display: flex;
                text-align: center;
                font-size: 0.8rem;
                color: whitesmoke;

            }



            .texto-noticia {
                height: 15rem;
                color: white;
                position: absolute;
                transition: 200ms;
                width: 20rem;
                color: transparent;

                p {
                    height: 100%;
                    animation: alternate;
                    width: 100%;
                }
            }
        }
    }


    .texto-noticia:hover p {
        height: 20rem;
        transform: translateY(15rem);
        animation: alternate;
        transition: 300ms;
        width: 100%;
        color: black;
        background-color: #44698a;
        margin-bottom: 10rem;
        border: 2px solid black;
        background-color: whitesmoke;
        text-align: center;

    }
}

@media (min-width: 768px) {

    .slider-frame-noticias {
        width: 100%;
        height: 100%;
        margin: 0% auto 0;
        overflow: hidden;
        border: transparent;
        margin-top: 5rem;

        ul {
            display: flex;
            padding: 0;
            width: 400%;
            animation: slide 16s infinite alternate ease-in-out;
        }


        li {
            display: flex;
            justify-content: center;
            list-style-type: none;
            width: 100%;

        }

        img {
            width: 90%;
            height: 80%;
            border: solid 5px ghostwhite;


        }
    }

    .video-noticias {
        width: 100%;
        height: 100%;
    }


    .section-padre-tarjeta {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 18rem;
        height: 110rem;



        .tarjeta-noticia {
            background-color: cadetblue;
            display: flex;
            flex-direction: column;
            height: 15rem;
            width: 20rem;



            .contenedorimagenesnoticias {
                background-color: green;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%
                }
            }


            .titutlo-noticia {
                display: flex;
                text-align: center;
                font-size: 0.8rem;
                color: whitesmoke;

            }



            .texto-noticia {
                height: 15rem;
                color: white;
                position: absolute;
                transition: 200ms;
                width: 20rem;
                color: transparent;

                p {
                    height: 100%;
                    animation: alternate;
                    width: 100%;
                }
            }
        }
    }


    .texto-noticia:hover p {
        height: 20rem;
        transform: translateY(15rem);
        animation: alternate;
        transition: 300ms;
        width: 100%;
        color: black;
        background-color: #44698a;
        margin-bottom: 10rem;
        border: 2px solid black;
        background-color: whitesmoke;
        text-align: center;

    }
}

@media (min-width:1200px) {

    .slider-frame-noticias {
        width: 100%;
        height: 100%;
        margin: 0% auto 0;
        overflow: hidden;
        border: transparent;
        margin-top: 10rem;



        ul {
            display: flex;
            padding: 0;
            width: 400%;
            animation: slide 16s infinite alternate ease-in-out;
        }

        li {
            display: flex;
            justify-content: center;
            list-style-type: none;
            width: 100%;

        }

        img {
            width: 100%;
            height: 80%;
            border: solid 5px ghostwhite;
        }
    }

    .titulo-seccionoticas {
        width: 100%;
        font-size: 2rem;
        background-color: cadetblue;



        h1 {
            font-size: 3rem;
        }

    }


    .section-padre-tarjeta {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 18rem;
        height: 110rem;



        .tarjeta-noticia {
            background-color: cadetblue;
            display: flex;
            flex-direction: column;
            height: 15rem;
            width: 20rem;



            .contenedorimagenesnoticias {
                background-color: green;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%
                }
            }


            .titutlo-noticia {
                display: flex;
                text-align: center;
                font-size: 0.8rem;
                color: whitesmoke;

            }



            .texto-noticia {
                height: 15rem;
                color: white;
                position: absolute;
                transition: 200ms;
                width: 20rem;
                color: transparent;

                p {
                    height: 100%;
                    animation: alternate;
                    width: 100%;
                }
            }
        }
    }


    .texto-noticia:hover p {
        height: 20rem;
        transform: translateY(15rem);
        animation: alternate;
        transition: 300ms;
        width: 100%;
        color: black;
        background-color: #44698a;
        margin-bottom: 10rem;
        border: 2px solid black;
        background-color: whitesmoke;
        text-align: center;

    }
}