@media (min-width:375px) {


    

    .video-noticias {
        width: 0%;
        height: 0%;

    }


    .titulo-seccionoticas {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        h1 {
            color: whitesmoke;
        }
    }



    .seccion-noticas-contenedorpadre {
        display: flex;
        flex-direction: column;



        .contenedorimagenesnoticias {
            border: solid 2px whitesmoke;
            margin-top: 1rem;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .articulos-seccionoticias {
            display: flex;
            justify-content: center;
            border: solid 2px whitesmoke;
            background-color: rgb(2, 2, 54);

            h2 {
                display: flex;
                justify-content: center;
                text-align: center;
                font-size: 1.7rem;
                color: whitesmoke;
                width: 100%;
            }

            p {
                display: flex;
                text-align: center;
                color: whitesmoke;
                font-size: 1rem;
            }

        }

    }

}

@media (min-width: 768px) {

  

    .video-noticias {
        width: 100%;
        height: 100%;





    }

}



@media (min-width:1200px) {


    .video-noticias {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40rem;
        margin-bottom: 10rem;
    }

    .contenedorimagenesnoticias {
        height: 100%;
        width: 100%;

        .imagenesdenoticias {
            height: 100%;
            width: 100%;

        }
    }

    .seccion-noticas-contenedorpadre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        margin-bottom: 10rem;

        .articulos-seccionoticias {
            align-items: center;
            height: 100%;
            width: 100%;
            margin-top: 1rem;

            p {
                font-size: 1.1rem;
            }
        }
    }
}




























   







